.DogList {
  display: flex;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/7210754/pexels-photo-7210754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.DogList-dog {
  margin: 5%;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}
